/* GOOGLE FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Fira+Sans+Extra+Condensed:wght@200&family=Sue+Ellen+Francisco&display=swap');

*
    {font-family: 'Fira Sans Extra Condensed', sans-serif;}

/* COLOR PALETTE */
*
    {background-color: #FFFFFF;}

/* HEADER */
.header {
    width: 700px;
    background-color: #03110d;
}

.headerlogo {
    width: 1520px;
    padding: none;
    margin: none;
}
/* NAV BAR */

.homenavimg {
    width: 165px;
    padding: -20px;
}

.navimg {
    height: 100px;
}

.hometopnav {
    position: relative;
    /* background-color: #FFFFFF; */
    overflow: hidden;
    border-top: 3px black solid;
    border-bottom: 3px black solid;
}

.topnav {
    position: relative;
    /* background-color: #03110D; */
    overflow: hidden;
    height: 112px;
}

/* Style Nav Bar Links */
.hometopnav a {
    float: left;
    color: #03110d;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Abhaya Libre', serif;
    width: 220px;
}

.topnav a {
    float: left;
    /* background-color: #03110d; */
    color: #FFFFFF;
    text-align: center;
    padding: 50px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Abhaya Libre', serif;
    width: 128px;
}
/* Hover Style Nav Bar Links */
.hometopnav a:hover {
    background-color: #03110d;
    color: #FFFFFF;
    text-decoration: underline;
}

.topnav a:hover {
    background-color: #FFFFFF;
    color: #03110d;
    text-decoration: underline;
}

/* Top-Centered Logo Nav Link */
.hometopnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav-centered {
    /* background-color: #03110d; */
}

.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%)
}
/* Hover Top-Centered Logo Nav Link */
.hometopnav-centered a:hover {
    background-color: #FFFFFF;
}

.topnav-centered a:hover {
    background-color:#FFFFFF;
}

/* Right-aligned Nav Bar Links */
.hometopnav-right {
    float: right;
}

.topnav-right {
    float: right;
}

/* Page Content */
.content {
    padding: 16px;
}

/* Sticky Nav Bar */
.sticky {
    position: fixed;
    top: 0;
    width: 99%;
}

.sticky + .content {
    padding-top: 60px;
}

/* Nav Bar Colors */

#homeself, #self {
    color: #FF1489
}
#homeself:hover {
    background-color: #FF1489;
    color: #FFFFFF;
}

#homerelationships, #relationships {
    color: #FF8623

}
#homerelationships:hover {
    background-color: #FF8623;
    color: #FFFFFF;
}

#homestyle, #style {
    color: #F3EB03;
}

#homestyle:hover {
    background-color: #F3EB03;
    color: #FFFFFF;
}

#homefaves, #faves {
    color: #3DD654;
}

#homefaves:hover {
    background-color: #3DD654;
    color: #FFFFFF;
}

#homeabout, #about {
    color: #1974d2
}

#homeabout:hover {
    background-color: #1974d2;
    color: #FFFFFF;
}

#homecontact, #contact {
    color: #d11bbc;
}

#homecontact:hover {
    background-color: #d11bbc;
    color: #FFFFFF;
}

/* Contact Form */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #03110D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.contactcontainer {
    border-radius: 5px;
    padding: 20px;
}

/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #03110d;
}
.copyright {
    float: left;
    text-align: left;
    background-color: #03110d;
    color: #FFFFFF;
    font-size: 28px;
    padding-top: 7px;
}
.socialmedia {
    float: right;
    text-align: right;
    background-color: #03110d;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #03110d;
}
